## From notebooks
.ipynb_checkpoints

## From VSCode
.vscode

## From analysis
*.out
nohup.out
compound_characterization/nohup.out

## Repo
untracked_misc/
data/curves_info/
data/cellAnnotations/
data/drugAnnotations/
_data_backup/
_data_local/
_data
_generated_data/
_generated_figures/

## Data
correlation_metrics/*_pairing.csv
correlation_metrics/*.h5
correlation_metrics/*.jld2
data/*_selected_curves_all.csv

## Other code
priors_test.jl
MLcorrelation_by_drugs.jl
posteriorCorrelation_by_drug.jl
