## From notebooks
.ipynb_checkpoints

## From VSCode
.vscode

## From analysis
*.out
nohup.out
compound_characterization/nohup.out

## Repo
untracked_misc/
public_datasets/curves_info/*
public_datasets/cellAnnotations/*
public_datasets/drugAnnotations/*
public_datasets/*_selected_curves_all.csv
public_datasets/bidra/*
_data_backup/
_data_local/
_data
_generated_data/*
_generated_figures/

## Data
correlation_metrics/*_pairing.csv
correlation_metrics/*.h5
correlation_metrics/*.jld2

all_julia_curveFit.csv

## Other code
priors_test.jl
MLcorrelation_by_drugs.jl
posteriorCorrelation_by_drug.jl
x.jls

