## From notebooks
.ipynb_checkpoints

## From VSCode
.vscode

## From analysis
*.out
nohup.out
compound_characterization/nohup.out

## Repo
untracked_misc/
data/
_generated_data/
_generated_figures/

## Data
correlation_metrics/*_pairing.csv
correlation_metrics/rep2_pairing.h5